<h1>Edit your account</h1>

<form action="/owners/<%=@owner.id%>" method="post">
	<input id="hidden" type="hidden" name="_method" value="patch">
	<label for="username">Username:</label>
	<input type="text" name="username" id="username" value="<%=@owner.username%>"><br>
	<button><a href="/owners/<%=@owner.id%>/change-password">Change password</a></button><br>
	<label>Your Pets</label><br>
	<%@owner.pets.each do |pet|%>
		<a href="/pets/<%=pet.slug%>"><%=pet.name%></a><br>
		<p><%=pet.breed%>, <%=pet.age%>, currently at <%=pet.park.name%>. <a href="/pets/<%=pet.slug%>/edit">Edit pet</a><br>
		<%if pet.adoptable%>
			**<%=pet.name%> is up for adoption!**
		<%end%>
		</p>
	<%end%>

	<label>Check box to send pet to the pound</label><br>
	<%@owner.pets.each do |pet|%>
	<input type="checkbox" name="pound[pets][]" id="pet_<%=pet.name%>" value="<%=pet.id%>"><%=pet.name%></input><br>
	<%end%>

	<label>Your Parks</label><br>
	<%@owner.parks.each do |park|%>
		<h3><a href="/parks/<%=park.id%>"><%=park.name%></a></h3><br><br>
	<%end%>

	<label>Check box to destroy park</label><br>
	<%@owner.parks.each do |park|%>
	<input type="checkbox" name="demo[parks][]" id="park_<%=park.name%>" value="<%=park.id%>"><%=park.name%></input>
	<%end%>

	<input type="submit" name="submit" value="Submit Changes">
</form>

<form action="/owners/<%=@owner.id%>" method="post">
	<input id="hidden" type="hidden" name="_method" value="delete">
	<input type="submit" name="submit" value="Delete Owner">
</form>