<h1>Edit your account</h1>

<form action="/owners/<%=@owner.id%>" method="post">
	<input id="hidden" type="hidden" name="_method" value="patch">
	<label>Username: <%=@owner.username%></label>
	<a href="/owners/<%=@owner.slug%>/change-password">Change username and password</a><br>
	<label>Your Pets</label><br>
	<%@owner.pets.each do |pet|%>
		<a href="/pets/<%=pet.slug%>"><%=pet.name%></a><br>
		<p><%=pet.breed%>, <%=pet.age%>, currently at <%=pet.park.name%>. <a href="/pets/<%=pet.slug%>/edit">Edit pet</a><br>
		<%if pet.adoptable%>
			**<%=pet.name%> is up for adoption!**
		<%end%>
		</p>
	<%end%>

	<label>Check box to send pet to the pound</label><br>
	<%@owner.pets.each do |pet|%>
	<input type="checkbox" name="pound[pets][]" id="pet_<%=pet.name%>" value="<%=pet.id%>"><%=pet.name%></input><br>
	<%end%>

	<label>Your Parks</label>
	<%@owner.parks.each do |park|%>
		<h3><a href="/parks/<%=park.id%>"><%=park.name%></a></h3>
	<%end%>

	<input type="submit" name="submit" value="Submit Changes">
</form>

<form action="/owners/<%=@owner.id%>" method="post">
	<input id="hidden" type="hidden" name="_method" value="delete">
	<input type="submit" name="submit" value="Delete Owner">
</form>