<h1><%=@owner.username%></h1>
<%if @owner.id == session[:owner_id]%>
	<button><a href="/owners/<%=@owner.slug%>/edit">Edit</a></button>
<%end%>
<h2>Pets</h2>
<%@owner.pets.each do |pet|%>
	<p><a href="/pets/<%=pet.slug%>"><%=pet.name%></a></p>
	<p>Breed: <%=pet.breed%></p>
	<p>Color: <%=pet.color%></p>
	<p>Age: <%=pet.age%></p>
	<p>Current park: <a href="/parks/<%=pet.park.slug%>"><%=pet.park.name%></a></p>
<%end%>
<%if @owner.id == session[:owner_id]%>
	<a href="/pets/new"><button><h3>Create a new pet</h3></button></a>
<%end%>

<h2>Parks</h2>

<%@owner.parks.each do |park|%>
	<p><a href="/parks/<%=park.slug%>"><%=park.name%></a></p>
	<%attending = park.pets.map {|pet| pet.name}%>
	<p>Pets currently at <%=park.name%>: <%=attending.join(" ")%></p>
<%end%>
<%if @owner.id == session[:owner_id]%>
	<a href="/parks/new"><button><h3>Create a new park</h3></button></a>
<%end%>

