<h1>Pets up for adoption</h1>

<%Pet.adoptables.each do |pet|%>
	<h3><a href="/pets/<%=pet.slug%>"><%= pet.name %></a>
		<a href="/pets/adopt/<%=pet.slug%>"><button>Adopt me!</button></a>
	</h3>
	<p><%=pet.name%> is at <a href="/parks/<%=pet.park.slug%>"><%=pet.park.name%>!</a></p>
	<p><%=pet.name%>'s owner: <a href="<%=pet.owner.slug%>"><%=pet.owner.username%></a></p>
	<p>I'm up for adoption!</p>
	
<%end%>