<h1>Pets</h1>

<%Pet.all.each do |pet|%>
	<h3><a href="/pets/<%=pet.slug%>"><%= pet.name %></a></h3>
	<p><%=pet.name%> is at <a href="/parks/<%=pet.park.slug%>"><%=pet.park.name%>!</a></p>
	<p><%=pet.name%>'s owner: <a href="<%=pet.owner.slug%>"><%=pet.owner.username%></a></p>
<%end%>